@{
    ViewData["Title"] = "Pagina Principala";
}
<div class="text-center">
    <h1 class="display-4">Bun venit pe platforma HR!</h1>
    <p>Accesează funcționalitățile aplicației pentru a gestiona eficient resursele umane.</p>
</div>
